/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body, h1, p {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}


ul li {
    display: inline;
    margin-right: 20px;
}

.title {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title h1 {
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 20px;
}

.title p {
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: lighter;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.main h2 {
    border-bottom: 2px solid #00B172;
    
}

.boxContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.boxContainer > div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.boxContainer h3{
    color: #00B172;
}

.boxContainer p{
    color: #1A1A1A;
}

.footer {
    position: relative;
    background-color: #00B172;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.info {
    margin: 0 auto;
    padding: 0 40px;
}

.info p{
    width: 230px;
}

.info h2 {
    font-size: 2rem;
    border-bottom: 2px solid white;
}

.info h3 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.media {
    padding-top: 30px;
    margin:  0 auto;
}

.footer-logo{
    position: absolute;
    right: 50%;
    top: 50%;
}


